<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1>Hi, {{ name }}</h1>
<p>What is a client? It is a desktop computer that is capable of obtaining information from
a server.</p>
<p> What is a server? It is a computer program that manages access to a service in a network.</p>
<p> what is an HTTP request? It is protocol designed to enable communications between clients and servers. </p>
<p> what is an HTTP response? It is made by a server to a client.</p>
<p> what is Django and why do we use it? It is an open-source python web framework used for
  rapid development, clean design, and secures websites. </p>
</body>  
</html>
